---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
        <div class="d-flex align-items-baseline mb-1">
          <p class="fw-bold mb-0">{{ section.title }}</p>
          <p class="me-3 mb-0">{{ section.year }}</p>
        </div>
        <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Research</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
        <div class="d-flex align-items-baseline mb-1">
          <p class="fw-bold mb-0">{{ section.title }}</p>
          <p class="me-3 mb-0">{{ section.year }}</p>
        </div>
        <p>{{ section.description }}</p>
        {% if section.supervisor %}
        (<a href="{{ section.supervisor.url }}" target="_blank" rel="noopener">
          {{ section.supervisor.name }}
        </a>)
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>