---
layout: default
---


<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Research</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
        <p class="me-3 mb-0"><em>{{ section.year }}</em></p>
        <p class="fw-bold mb-0">{{ section.title }}</p>
        <p>{% if section.description.url %}
          <a href="{{ section.description.url }}" target="_blank" rel="noopener">
            {{ section.description.name }}
          </a>
          {% else %}
          {{ section.description }}
          {% endif %}
          {% if section.supervisor %}
          <br>
          Supervisor: <a href="{{ section.supervisor.url }}" target="_blank" rel="noopener">
            {{ section.supervisor.name }}
          </a>
          {% endif %}
        </p>
        <div class="mb-3"></div> <!-- empty line -->
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
        <p class="me-3 mb-0"><em>{{ section.year }}</em></p>
        <p class="fw-bold mb-0">{{ section.title }}</p>
        <p>{{ section.description }}
          <br>
          {% if section.grade.ongoing %}
          Current Grade: {{ section.grade.current }}
          {% else %}
          Final Grade: {{ section.grade }}
          {% endif %}
        </p>
        <div class="mb-3"></div> <!-- empty line -->
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Awards & Achievements</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.awards %}
        <p class="me-3 mb-0"><em>{{ section.year }}</em></p>
        <p class="fw-bold mb-0">
          <a href="{{ section.link }}" target="_blank" rel="noopener">
            {{ section.title }}
          </a>
        </p>
        <p>{{ section.description }}</p>
        <div class="mb-3"></div> <!-- empty line -->
        {% endfor %}
      </div>
    </div>


  </div>
</div>